<!DOCTYPE html>
<html>
<head>
  <title>Liste des personnages</title>
  <style>
    .bg {
      background-image: url("https://media.discordapp.net/attachments/1128386944578093217/1157570887898365962/pewniett_center_of_an_arena_cartoon_wondorfull_colors_game_coll_ff957c2e-b263-4bd0-9185-f97f4dd0607f.png?ex=65191766&is=6517c5e6&hm=cc76d02139f7509c08d8e1f83703769accf52662d29f014ff5be6d951fdfd401&=&width=1670&height=936");
      background-size: cover;
      background-position: center;
    }

    .title {
      text-align: center;
      color: white;
      font-size: 50px;
      padding-top: 50px;
    }

    .container {
      display: flex;
      flex-direction: row;
      align-items: start;
      flex-wrap: wrap;
      justify-content: center;
      overflow: scroll;
      height: 60vh; 
    }

    .button {
      width: 200px;
      height: 50px;
      font-size: 20px;
      border-radius: 10px;
      border: 2px solid #042a3f;
      text-align: center;
      margin-top: 20px;
      color: white;
      margin-left: 42%;
      cursor: pointer;
      background-color: #5295BA;
    }
    .button:disabled {
      background-color: #a3bcc9;
      border: 2px solid #a3bcc9;
    }
    .button:hover {
      background-color: #a3bcc9;
      border: 2px solid #5295BA;
    }
  </style>
</head>
<body class="bg">
  <a href="/">Home</a>
  <h1 class="title">Vos champions</h1>

  <div class="container">
    <% @champions.each do |champion| %>
      <%= render 'components/champion_card', small: true, champion: champion %>
    <% end %>
  </div>
</body>
</html>
